/* KanbanBoard.css */
.kanban-board {
  display: flex;
  justify-content: space-around;
}

.column {
  width: 30%;
  background-color: #252525; /* Dark gray background color */
  color: #fff; /* White text color */
  border-radius: 8px;
  padding: 16px;
  margin: 0 16px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1); /* Update shadow color */
}

.column h2 {
  font-size: 18px;
  margin-bottom: 12px;
}

.task {
  background-color: #333; /* Darker gray background color */
  color: #fff; /* White text color */
  border-radius: 4px;
  padding: 12px;
  margin-bottom: 8px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1); /* Update shadow color */
  transition: background-color 0.3s ease;
}

.task:hover {
  background-color: #555; /* Darker hover background color */
}
